@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family:'Inknut Antiqua', 'Arial Narrow', Arial, sans-serif;
}

.and {
    font-family: "Istok Web";
    font-size: 117%;
    line-height: 1em;
}

:root {
    --bgcolor: #282012;
    --color1: #DDB15F;
    --color2: #E6B863;
    --color3: #BB9650;
    --color4: #775F33;
    --thetext: #FFEFD2;
    --cardheight: 28.125vw;
}

body {
    margin: 0;
    background-color: var(--bgcolor);
    color: white;
    margin-top: max(5vh, 10vh);
    overflow-x: hidden;
}   

.topnav ul li {
    justify-content: center;
    width: 33.33%;
    font-size: 1vw;
}


.topnav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    width: 100%;
    min-width: 33.33vw;
    margin-bottom: 8%;
    line-height: 1.3em;
    height: 95%;
    text-align: center;
}

.topnav li a {
    color: var(--thetext);
    text-decoration: none;
}

.topnav img {
    height: max(90%, 1.1vw);
    justify-content: flex-start;
    margin-left: 10%;
    margin-bottom: 10%;
}

.topnav {
    top: 0;
    display: flex;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: max(5vh, 10vh);
    background-color: var(--bgcolor);
    justify-content: space-between;
    box-shadow: 0 .2em .5em black;
    align-items: center;
    z-index: 500000;
}

.navbox {
    margin: .2%;
    width: 33.33%;
    height: 90%;
    
}

#rightlinks.navbox a {
    align-items: center;
    justify-content: center;
    text-shadow: 0 0px 10px black;
}


#home { /* This is home of navbox */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.home { /* This is home link */
    background-color: var(--color4);
    border-radius: 50px;
    border: 15px;
    padding: 0.2em 0.7em;
    align-items: center;
    line-height: 1em;
    color: white;
    text-decoration: none;
    font-size: max(120%, 2.2vw);
    box-shadow: 0 0px 16px black;
}

#rightlinks {
    display: flex;
    justify-content: center;
    align-content: center;
}

.herotxt {
    font-size: max(120%, 2.2vw);
    position: absolute;
    display: flex;
    text-align: center;
    align-self: flex-start;
    text-shadow: 0 4px 15px  black;

}
.hero-container {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herotxt#not-home {
    align-self: center;
}

.heroimg {
    width: 100%;
    height: auto;
}

.searchbar {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center; 
}

.searchbar-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5000px;
    width: 25vw; 
    height: 4em;
    outline: none;
}


main {
    margin-top: 10vh;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-around; 
    width: 100%;
}

.card {
    width: 28.125vw;
    height: 45.144vw;
    background-color: var(--color4);
    margin: 0 10px; 
    box-shadow: 0 4px 4px black;
}

.card img {
    width: 28.125vw;
    align-self: flex-start;
}

.card-content {
    display: flex;
    flex-direction: column;
    font-size: .9vw;;
    margin: 5%;
    line-height: 4em;
    padding: 0;
    height: 55.5%;
    text-shadow: 0 2px 2px black;
    margin-top: 0;
    justify-content: space-between;
}

.card-content h1{
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5vw;
}

.card-content a { 
    align-self: flex-end;
    justify-content: flex-end;
    color: white;
    background-color: var(--bgcolor);
    padding: .5em 1.3em;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1vw;;
    margin-bottom: 1em;
}

.goals {
    font-size: max(50%, 1vw);
    margin: 2.2%;
    justify-content: center;
}

.goals h2 {
    text-align: center;
}

.bottom-nav {

    bottom: 0;
    display: flex;
    margin: 0;
    width: 100vw;
    height: max(13vh, 26vh);
    background-color: var(--color4);
    justify-content: space-between;
    box-shadow: 0 .2em .5em black;
    align-items: center;
    text-shadow: 0 0 10px black;
}

.bottom-nav section { 
    margin: .2%;
    width: 33.33%;
    height: 90%;
}

.bottom-nav .nav-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2.2%;
    justify-content: space-between;
    

}
 .bottom-nav .nav-left address{
    line-height: 1em;
    font-size: .7vw;
    width: 75%;
    max-width: 310px;
}

.bottom-nav .nav-left h2 {
    line-height: .5em;
    font-size: 1.1vw;
    width: 75%;
    max-width: 310px;
}

.bottom-nav .nav-left a {
    text-decoration: none;
    color: white;
    width: 75%;
    background-color: var(--bgcolor);
    border-radius: 25px;
    max-width: 310px;
    line-height: 2.2em;
    font-size: .9vw;;

}

.bottom-nav .nav-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-nav .nav-mid img {
    height: 60%;
}

.bottom-nav .nav-right {
    margin: 2.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom-nav .nav-right .email { 
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    max-width: 500px;
    outline: none;
    border-radius: 10px;
}

.bottom-nav .nav-right .email-input { 
    outline: none;
    width: 75%;
    height: 4em;
    border-radius: 10px;
}
.bottom-nav .nav-right p, .bottom-nav .nav-right h2 {
    width: 75%;
    justify-content: center;
    text-align: center;
    max-width: 382px;
    font-size: .7vw;
} 
.bottom-nav .nav-right h2 {
    line-height: .5em;
    font-size: 1vw;
}

.main-conv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7vh;
    justify-content: space-between;
    margin-bottom: 7vh;
}

.conv-container {
    width: 83.125vw;
    height: 53.614vw;
    display: flex;
    flex-direction: row;

} 

.conv-cont-lt {
    height: 100%;
    font-size: 1vw;
    width: 36.597vw;
    background-color: var(--color4);
    margin-right: 1.25%;
    box-shadow: 0 0px 10px black;
}


.conv-cont-lt article {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;

}

.conv-cont-lt article h2 {
    text-shadow: 0 0px 10px black;
}

.conv-cont-lt article p {
    text-indent: 5%;
    text-shadow: 0 0px 10px black;
    line-height: 3em;

}
.conv-cont-lt article a {
    text-shadow: 0 0px 10px black;
    background-color: var(--bgcolor);
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    padding: .5em 1em;
    align-self: center;
    border-radius: 25px;
}

.conv-cont-rt {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 46.527vw;
    justify-content: space-between;
    margin-left: 1.25%;

}

.conv-cont-rt img {
    height: 59.844%;
    width: 46.527vw;
    box-shadow: 0 0px 10px black;
}

.conv-cont-rt article {
    height: 35.492%;
    background-color: var(--color3);
    width: 46.527vw;
    align-self: flex-end;
    box-shadow: 0 0px 10px black;
}

.conv-cont-rt article h2 {
    font-size: 2vw;
    margin: 2%;
    margin-bottom: 0;
    text-shadow: 0 0px 10px black;
}
.conv-cont-rt article ul-container {
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 100%;
}
.conv-cont-rt article ul {
    top: 0;
    margin-top: 0;
    list-style-type: none;
    display: inline-block;
    width: 14vw;
    height: 100%;
    font-size: .72vw;
}
.conv-cont-rt article ul li {
    text-shadow: 0 0px 10px black;
}

.h-gallery-c-c {
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 22vh;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--color1);
    align-items: center;
    box-shadow: 0 0px 10px black;
}
.h-gallery-c {
    margin: 2.2%;
    height: 79.45%;
    width: 95%;
    padding: .3% .5%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: var(--color4);
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.h-gallery-c img {
    margin-left: .25%;
    margin-right: .25%;
    height: 100%;
    box-shadow: 0 0 6px black;
}



/* Cleaning and Technology */
.tech-main {
    height: 100%;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0px 10px black;

}

.tech-container-top {
    margin-top: 7vh;
    width: 100%; 
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
    
}

.tech-container-top img{
    height: 45.9vw;
    box-shadow: 0 0px 10px black;
}
.tech-container-top h2 {
    font-size: 1.2vw; 
}
.tech-container-top p {
    font-size: .7vw; 
    line-height: 5em;
}
.tech-container-top .tech-ul-container {
    height: 8em;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tech-container-top ul {
    width: 45%;
    display: block;
    list-style-type: none;
    font-size: .7vw;
    line-height: 2.2em;
}

.tech-container-top ul li::before {
    font-size: 2em;
    content: "•";
    color: var(--color3);
    display: inline-block;
    width: 1em;
    margin-left: -1em;


}
.tech-container-top .tech-top-article {
    width: 42.7vw;
}
.tech-container-bot {
    margin-top: 7vh;
    width: 100%; 
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
}


.tech-container-bot img{
    height: 45.9vw;
    align-self: flex-end;
    box-shadow: 0 0px 10px black;
}
.tech-container-bot {
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 100%; 
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
}

.tech-container-bot img{
    height: 45.9vw;
}
.tech-container-bot h2 {
    font-size: 1.2vw; 
}
.tech-container-bot p {
    font-size: .7vw; 
    line-height: 5em;
}
.tech-container-bot .tech-ul-container {
    height: 8em;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tech-container-bot ul {
    width: 45%;
    display: block;
    list-style-type: none;
    font-size: .7vw;
    line-height: 2.2em;
}

.tech-container-bot ul li::before {
    font-size: 2em;
    content: "•";
    color: var(--color3);
    display: inline-block;
    width: 1em;
    margin-left: -1em;


}
.tech-container-bot .tech-bot-article {
    width: 42.7vw;
}
#c-and-tech {
    margin-bottom: 7vh;
    margin-top: 0;
}


.main-enri {
    display: flex;
    flex-direction: column;
    text-shadow: 0 0px 10px black;
}

.enri-c-tee {
    margin-left: 4.41%;
    margin-right: 4.41%;
    margin-top: 7vh;
    width: 91.18vw;
    height: 27.5vw;
    display: flex;
    flex-direction: row-reverse;

}
.enri-card1 {
    display: flex;
    flex-direction: row-reverse;
    width: 76%;
    height: 27.5vw;
    background-color: var(--color4);
    box-shadow: 0 0px 10px black;
}
.enri-card1 article {
    
    display: flex;
    flex-direction: column;
    font-size: .7vw;
    margin-left: 5%;
    margin-right: 5%;
}
.enri-card1 article h2 {
    margin-top: 10%;
    font-size: 1.3vw;
    line-height: 1em;
}
.enri-card1 article p {
    margin-top: 0;
    margin-bottom: 0;
}
.enri-card1 article a {
    margin-top: 0;

    font-size: 1vw;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    align-self: flex-end;
}

.enri-c-bee {
    margin-left: 4.41%;
    margin-right: 4.41%;
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 91.18vw;
    height: 27.5vw;
    display: flex;
    flex-direction: row-reverse;
}
.enri-card2 {
    display: flex;
    width: 76%;
    height: 27.5vw;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-color: var(--color4);
    box-shadow: 0 0px 10px black;
    
}

.enri-card2 article {
    
    display: flex;
    flex-direction: column;
    font-size: .7vw;
    margin-left: 5%;
    margin-right: 5%;
}
.enri-card2 article h2 {
    margin-top: 10%;
    font-size: 1.3vw;
    line-height: 1em;
}
.enri-card2 article p {
    margin-top: 0;
    margin-bottom: 0;
}
.enri-card2 article a {
    margin-top: 0;
    font-size: 1vw;

    background-color: white;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    align-self: flex-end;
}

.enri-card2 img, .enri-card1 img {
    height: 27.5vw;
}

.sideimgs {
    display: flex;
    flex-direction: column;
}
.sideimgs img{
    width: 15.278vw;
    box-shadow: 0 0px 10px black;
}

.c1-imgs {
    margin-top: 1vw;
    margin-left: 3.958vw;
    margin-bottom: 1vw;
    justify-content: space-between;
}

.c2-imgs {
    margin-right: 3.958vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    justify-content: space-between;
}
.pricing {
    text-shadow: none;
    padding: .3em 1.3em;
    box-shadow: 0 0px 10px black;
}